---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/tobii.min.css";
---

<MainLayout
  title="ACCESS – en sans-serif med et futuristisk twist"
  description="ACCESS – en sans-serif der skiller sig ud af det normale med et futuristisk twist"
  ogtitle="ACCESS – en sans-serif der skiller sig ud"
  ogdescription="ACCESS – en sans-serif der skiller sig ud fra det normale"
>
  <div id="main" class="main flex flex-col justify-center items-start max-w-5xl mx-auto md:border-l-2 border-[#333333] border-opacity-40">
    <h1 class="text-left pl-12 mt-40 border-b-2 border-[#333333] border-opacity-40">ACCESS</h1>
    <h1 class="main-h1 text-left pl-12 opacity-30 transform -scale-y-100 hover:transform hover:translate-y-2 transition duration-500">ACES</h1>
    <div class="pt-12">
      <h2 class="text-left pl-12">EN SANS-SERIF MED ET <br /> FUTURISTISK TWIST</h2>
      <h3 class="text-left pl-12 mt-8 opacity-50">Af Sara Ringkow Petersen</h3>
    </div>
  </div>

  <div id="om" class="grid md:grid-cols-2 grid-cols-1 gap-4 md:max-w-5xl max-w-sm mx-auto md:pt-32 pt-12">
    <div class="md:border-b-2 border-[#333333] border-opacity-40">
      <h2 class="text-left font-bold pb-4">OM ACCESS</h2>
      <p class="max-w-xl leading-7">
        <em>Access</em> er en specialdesignet display-font, inspireret af det futuristiske og skabt med øje for både enkelhed og tekniske detaljer. Med
        rene linjer og et minimalistisk udtryk, balancerer fonten mellem to sans-serif stile, der hver især bidrager med unikke karaktertræk. Resultatet
        er en moderne font, der både er letlæselig og samtidig udstråler en teknologisk præcision. <br /><br /><em>Access</em> er designet til at kunne
        bruges på digitale platforme, hvor tydelighed og æstetik går hånd i hånd, men har også potentiale til at skille sig ud i trykte medier. Fontens
        enkle, men alligevel dynamiske udtryk gør den til et ideelt valg for dem, der søger en stilfuld, teknisk og fremadskuende typografi.
      </p>
    </div>
    <div class="flex flex-col md:justify-center md:items-end items-start md:gap-5 gap-6">
      <a href="/images/access_mockup.webp" class="lightbox md:w-[365px] w-[95%] h-full">
        <img
          src="/images/access_mockup.webp"
          alt="Examples with Access (mockup)"
          class="w-[365px] md:h-[540px] h-[585px] shadow-xl mt-12 md:mt-0 rounded-lg hover:scale-105 transition duration-500"
        />
      </a>
    </div>
  </div>

  <div id="oprindelse" class="grid md:grid-cols-2 grid-cols-1 md:max-w-5xl max-w-sm mx-auto md:pt-32 pt-12">
    <div class="flex flex-col md:justify-center md:items-start">
      <a href="/images/collage2.webp" class="lightbox md:w-[365px] w-[95%] h-full">
        <img
          src="/images/collage2.webp"
          alt="Process-collage"
          class="w-[365px] h-[585px] shadow-xl md:mt-0 rounded-lg hover:scale-105 transition duration-500"
        />
      </a>
    </div>
    <div class="md:border-b-2 border-[#333333] border-opacity-40">
      <h2 class="text-left font-bold pb-4 md:mt-0 mt-12">FONTEN'S OPRINDELSE</h2>
      <p class="max-w-xl leading-7">
        Jeg var på udkig efter at designe en font, der var både var enkelt at læse og skrive, men også designet til at skabe et stilfuldt og teknisk
        udtryk. Her faldt jeg over tre sans-serif fonte: Thinoo, Alexana og Anurati. Thinoo, for dens enkelthed. Og Alexana og Anurati for deres
        karaktertræk. Herefter blev der ekperimenteret med alle tre fonte, for at få en idé om det overordnede design af min font, som jeg kunne
        udarbejde. Det var også her at navnet til fonten kom til. Jeg ville gerne bruge ordet <em>accessibility</em>, men det synes jeg var for langt
        et navn at bruge til en font. Så jeg endte med at gå med <em>access</em>, da det var kort og passede perfekt til den overordnede stil. <br
        /><br />
        Design-mæssigt valgte jeg at gå med en kombination af Thinoo og Alexana, da Anurati var for svær at læse og arbejde med. Thinoo kombineret med
        Alexana's karaktertræk gav mig det udtryk jeg gerne ville have i min font. Noget enkelt, men samtidig også dynamisk, så det ikke virkede som en
        hel normal sans-serif font med ingen former for elementer til sig. Alt idégenerering og design blev udført på papir, hvorefter det hele blev rentegnet
        digitalt i Illustrator.
      </p>
    </div>
  </div>
  <div id="tanker" class="grid md:grid-cols-2 grid-cols-1 gap-4 md:max-w-5xl max-w-sm mx-auto md:pt-32 pt-12">
    <div>
      <h2 class="text-left font-bold pb-4 md:mt-0 mt-8">Fra <em>"ACES"</em> til <em>Access</em>: En bro mellem enkelhed og teknologi</h2>
      <p class="max-w-xl leading-7">
        Da jeg udviklede <em>Access</em>, var jeg inspireret af ønsket om at skabe en moderne og futuristisk typografi med en enkel, men teknisk kant.
        Navnet "ACCESS" er valgt for at afspejle, hvordan fonten giver "adgang" til en ny visuel oplevelse, hvor klarhed og funktionalitet smelter
        sammen. Navnevarianten "ACES" opstod i forbindelse med designprocessen i Illustrator og fungerer som et kreativt udtryk for bogstavernes
        opstilling og proportioner.
        <br /><br />
        Men fokus ligger på <em>Access</em>&mdash; en font, der er tænkt som en æstetisk bro mellem det enkle og det teknologiske, inspireret af
        sans-serif traditionen men med en distinkt, futuristisk karakter. Fontens rene linjer og strukturelle opbygning gør den velegnet til digitale
        formål, hvor læsbarhed og stilfuld modernitet er altafgørende. <em>Access</em> er mere end blot en typografi; det er et visuelt koncept, der formidler
        enkelhed med en kant og passer perfekt til fremtidens designsprog.
      </p>
    </div>
    <div class="decor flex flex-col md:justify-start justify-center pt-8 md:pt-0">
      <h1 class="aces text-[#4B5563] transform -scale-x-100 hover:transform hover:-translate-y-2 transition duration-500">ACES</h1>
      <h1 class="hover:transform hover:-translate-y-2 transition duration-500">ACCESS</h1>
    </div>
  </div>
  <div class="md:pb-32 pb-12"></div>
</MainLayout>

<style>
  .decor {
    font-family: "Access";
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #333333;
    font-size: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: 768px) {
    .decor {
      font-size: 6rem;
    }
  }

  .main-h1 {
    font-family: "Access";
    writing-mode: horizontal-tb;
    text-orientation: upright;
  }
</style>

<script is:inline src="/tobii.min.js"></script>
<script defer>
  const tobii = new Tobii();
</script>
<script>
  import { animate, inView } from "motion";
  /*Entrance Animation*/
  animate("body", { opacity: [0, 1] }, { duration: 1 });

  /** inView Animations */
  const elementmedanimation1 = document.querySelector(".main");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
  });

  const elementmedanimation2 = document.querySelector("#om");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
  });

  const elementmedanimation3 = document.querySelector("#oprindelse");
  inView(elementmedanimation3, () => {
    elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation4 = document.querySelector("#tanker");
  inView(elementmedanimation4, () => {
    elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
  });
</script>
