---

---

<header class="p-10">
  <nav class="flex justify-center items-center gap-20">
    <a href="/om-access" class="font-light">OM ACCESS</a>
    <a href="/om-access" class="font-light">OPRINDELSEN</a>
    <a href="/om-access" class="font-light">TANKER</a>
  </nav>
</header>
